.post-card {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.post-card-right {
  width: 100%;
}

.post-content {
  overflow-wrap: anywhere;
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-name {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.post-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.post-menu {
  position: relative;
}

.post-menu-options {
  position: absolute;
  right: 0;
  width: 10rem;
  background-color: var(--primary-bg);
}

.post-menu-option:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
}

.icon-liked {
  color: var(--primary-color);
}

.post-option-likes {
  display: flex;
  align-items: center;
}

.likeby-card {
  width: 100%;
}

.liked-by-user {
  cursor: pointer;
}

.liked-by-user:hover {
  text-decoration: underline;
}
