.modal {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 25rem;
}

.edit-modal {
  width: 30rem;
}

@media screen and (max-width: 32.5rem) {
  .modal {
    width: 100%;
  }
}
