.sidebar {
  width: 15rem;
}

.btn-create {
  width: 100%;
  margin: 0;
}

.active {
  background-color: var(--secondary-color);
  color: var(--primary-txt);
}

.m-0 {
  margin: 0;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 55vh;
  border: 1px solid var(--secondary-color);
  position: sticky;
  top: 0.1rem;
}

@media screen and (max-width: 62.5em) {
  .sidebar-container {
    display: none;
  }
}
