.follow-suggestion {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-suggestion {
  position: sticky;
  top: 0.1rem;
}

.profile-info {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.btn-underline {
  text-decoration: underline;
  color: inherit;
}

@media screen and (max-width: 62.5em) {
  .card-suggestion {
    display: none;
  }
}
